{% extends 'base.html' %} {% block title %}Welcome{% endblock title %}


<!DOCTYPE html>
<html>
   <head>
      <title>Apple Scab</title>
   </head>
   <body>
   {% block content %}
     <!--<center><h1>Detected Disease is <b>Apple Scab</b><h1></center>-->
	 <center><h1>Detected species is <b>Apple</b><h1></center>
     <!-- <img src = "test_images/"
      alt = "Learn HTML5" height = "250" width = "270" />-->
	  <p>What are the symptoms of apple scab?<br>
apple scab shows up as spots on green apples

Apple scab on apples

You can identify apple scab by its characteristics:

    <li>Circular spots are light brown and start to appear on fruit and leaves in early spring</li>
    <li>Scabs are sunken, up to ¾” around, dark brown, and make spores in their center</li>
    <li>Leaves and fruit are affected, often leaves around
	<li>developing fruit, and at the blossom end of young fruit</li>
     Deformed, twisted leaves</li>
    <li>Cracked skin on fruit</li>
    <li>Young fruit that is infected often drops to the ground early</li>
    <li>Mature fruit that was infected at harvest may develop apple scab in storage</li>
</p>
<p>
<center><b>GENERAL PREVENTION MEASURES<b></center>

    <li>Choose scab-resistant varieties of apple or crabapple trees.</li>
    <li>Rake up and discard any fallen leaves or fruit on a regular basis, and never leave fallen leaves or fruit on the ground over winter. Apple scab fungus overwinters on fallen leaves and fruit.</li>
    <li>Prune your apple and crabapple trees to keep their crowns open so light and air can move through. Dry leaves and fruit help to prevent initial infection.</li>
    <li>Plant your apple and crabapple trees correctly, in full sun and with enough space around each tree, according to their mature size. Shade keeps water from evaporating quickly, and crowded trees are more susceptible to the disease.</li>
    <li>Irrigate your trees in the early morning hours, and don’t use overhead sprays that will wet leaves and fruit. Dry leaves won’t host the fungus.</li>

</p>

   </body>
</html>

{% endblock content %}